1. What are data structures, and why are they important?
  > Data structures are tools for organizing and storing data efficiently, enabling quick access, modification, and scalability. They are important for optimizing memory usage, enhancing algorithm performance, and handling large datasets.

2. Explain the difference between mutable and immutable data types with examples.
   > Mutable: Can be changed after creation.
Example: Lists ([1, 2, 3]), Dictionaries ({'key': 'value'}).
Code Example:

In [ ]:
my_list = [1, 2, 3]
my_list[0] = 10  # List is modified to [10, 2, 3]

  Immutable: Cannot be changed after creation.
Example: Tuples ((1, 2, 3)), Strings ("Hello").
Code Example:

In [ ]:
my_tuple = (1, 2, 3)
# my_tuple[0] = 10  # Raises a TypeError

3. What are the main differences between lists and tuples in Python?
   > List: Mutable, slower, uses square brackets ([]).
     Tuple: Immutable, faster, uses parentheses (()).

4. Describe how dictionaries store data.
  > Dictionaries store data as key-value pairs using a hashing mechanism, allowing fast retrieval by key. Example:

In [ ]:
my_dict = {'name': 'Alice', 'age': 25}

5. Why might you use a set instead of a list in Python?
  > Sets automatically remove duplicate elements and provide faster membership testing (in). Example:

In [ ]:
my_set = {1, 2, 2, 3}  # {1, 2, 3}

6. What is a string in Python, and how is it different from a list?
  > A string is a sequence of characters (immutable), while a list is a collection of elements (mutable).
  Example:

In [ ]:
string = "hello"  # Immutable
list_ = ['h', 'e', 'l', 'l', 'o']  # Mutable

7. How do tuples ensure data integrity in Python?
  > Tuples are immutable, preventing accidental modification of data. They are ideal for storing fixed, unchangeable collections.

8. What is a hash table, and how does it relate to dictionaries in Python?
  > A hash table is a data structure that maps keys to values using a hash function. Python dictionaries are implemented using hash tables for fast key lookups.

9. Can lists contain different data types in Python?
  > Yes. Example:

In [ ]:
mixed_list = [1, 2.5, "text", True]

10. Explain why strings are immutable in Python.
  > Strings are immutable to ensure data integrity, optimize memory usage (via string interning), and improve performance.

11. What advantages do dictionaries offer over lists for certain tasks?
   > Dictionaries provide faster lookups, data retrieval by key, and unordered storage, making them ideal for tasks requiring mapping relationships.

12. Describe a scenario where using a tuple would be preferable over a list.
   > When storing constant data that should not change, like coordinates:

In [ ]:
coordinates = (10, 20)

13. How do sets handle duplicate values in Python?
   > Sets automatically remove duplicates. Example:

In [ ]:
my_set = {1, 1, 2, 3}  # {1, 2, 3}

14. How does the “in” keyword work differently for lists and dictionaries
   > Lists: Checks for membership of a value.
     Dictionaries: Checks for membership of a key.
     Example:

In [ ]:
5 in [1, 2, 3, 5]  # True
'key' in {'key': 'value'}  # True

15. Can you modify the elements of a tuple? Explain why or why not.
   > No, you cannot modify the elements of a tuple because tuples are immutable in Python. Once a tuple is created, its elements cannot be changed, added, or removed. This immutability ensures data integrity and makes tuples hashable, which allows them to be used as keys in dictionaries or elements in sets. Example

In [ ]:
my_tuple = (1, 2, 3)

# Attempting to modify a tuple will raise an error
# my_tuple[0] = 10  # Uncommenting this will raise a TypeError: 'tuple' object does not support item assignment

print(my_tuple)  # Output: (1, 2, 3)

     However, if a tuple contains mutable elements (like a list), those elements can be modified:

In [ ]:
nested_tuple = (1, [2, 3], 4)
nested_tuple[1][0] = 10  # Modifying the list inside the tuple
print(nested_tuple)  # Output: (1, [10, 3], 4)

     This shows that while the tuple structure itself is immutable, mutable objects inside a tuple can be altered.

16. What is a nested dictionary, and give an example of its use case?
  > A dictionary inside another dictionary, useful for hierarchical data:

In [1]:
data = {'user': {'name': 'Alice', 'age': 25}}

17. Describe the time complexity of accessing elements in a dictionary.
   > The time complexity of accessing an element in a dictionary is O(1) on average. This is because dictionaries in Python use a hash table internally, allowing constant-time access to elements by their keys.

18. In what situations are lists preferred over dictionaries?
  > Lists are preferred over dictionaries in the following situations:

    > When the order of elements is important, as lists maintain the sequence of elements by their indices.
    
    > When there is no need for key-value pairs, and simple data storage is sufficient.
    
    > When working with sequential data where operations like sorting, slicing, or iteration are required.
   
   > When duplicate values are allowed, as dictionaries do not permit duplicate keys.
   
   > When memory efficiency is a concern, as lists use less memory compared to dictionaries.
   
   > When random access by an element's position (index) is needed, which lists provide efficiently.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
  > Dictionaries are considered unordered because they store key-value pairs based on a hash table rather than maintaining any inherent order. The keys are hashed to determine their location in memory, which means their physical arrangement in the dictionary does not correspond to the order in which they were added.

Effect on Data Retrieval:
   > Access by Key Only: Data can only be retrieved using keys, not by positional indexing like in a list.
   
   > No Positional Access: Since dictionaries are unordered, you cannot access elements in a specific sequence or rely on the order in which items were inserted (prior to Python 3.7).
   
   > Efficient Lookups: Despite being unordered, dictionaries offer very fast lookups for keys due to their hash table implementation, with an average time complexity of O(1).
   
   Note: Starting with Python 3.7, dictionaries maintain insertion order as an implementation detail, but this does not change their conceptual definition as unordered collections.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
   > Lists retrieve data by index, while dictionaries retrieve data by key.

# **PRACTICAL QUESTIONS **

1. Create a string with your name and print it.

In [3]:
name = "DEV"
print(name)

DEV

2. Find the length of the string "Hello World".

In [4]:
print(len("Hello World"))

11

3. Slice the first 3 characters from "Python Programming".

In [5]:
print("Python Programming"[:3])

Pyt

4. Convert "hello" to uppercase.

In [6]:
print("hello".upper())

HELLO

5. Replace "apple" with "orange" in "I like apple".

In [7]:
print("I like apple".replace("apple", "orange"))

I like orange

6. Create a list with numbers 1 to 5 and print it.

In [8]:
my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

7. Append 10 to [1, 2, 3, 4].

In [9]:
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

8. Remove 3 from [1, 2, 3, 4, 5].

In [10]:
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

9. Access the second element in ['a', 'b', 'c', 'd'].

In [11]:
my_list = ['a', 'b', 'c', 'd']
print(my_list[1])

b

10. Reverse [10, 20, 30, 40, 50].

In [12]:
my_list = [10, 20, 30, 40, 50]
print(my_list[::-1])

[50, 40, 30, 20, 10]

11. Create a tuple with the elements 10, 20, 30 and print it.

In [13]:
my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

12. Access the first element of the tuple ('apple', 'banana', 'cherry').

In [14]:
my_tuple = ('apple', 'banana', 'cherry')
print(my_tuple[0])

apple

13. Count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [15]:
my_tuple = (1, 2, 3, 2, 4, 2)
print(my_tuple.count(2))

3

14. Find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [16]:
my_tuple = ('dog', 'cat', 'rabbit')
print(my_tuple.index('cat'))

1

15. Check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [17]:
my_tuple = ('apple', 'orange', 'banana')
print('banana' in my_tuple)

True

16. Create a set with the elements 1, 2, 3, 4, 5 and print it.

In [18]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

17. Add the element 6 to the set {1, 2, 3, 4}.

In [19]:
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}

18. Create a tuple with the elements 10, 20, 30 and print it.

In [20]:
my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

19. Access the first element of the tuple ('apple', 'banana', 'cherry').

In [21]:
my_tuple = ('apple', 'banana', 'cherry')
print(my_tuple[0])

apple

20. Count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)

In [22]:
my_tuple = (1, 2, 3, 2, 4, 2)
print(my_tuple.count(2))

3

21. Find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [23]:
my_tuple = ('dog', 'cat', 'rabbit')
print(my_tuple.index('cat'))

1

22. Check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [24]:
my_tuple = ('apple', 'orange', 'banana')
print('banana' in my_tuple)

True

23. Create a set with the elements 1, 2, 3, 4, 5 and print it.

In [25]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

24. Add the element 6 to the set {1, 2, 3, 4}.

In [26]:
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}